{% extends 'base.html' %}
{% block content %}
<h1>식당 생성 페이지</h1>

<form action="{% url 'restaurants:create' %}" method="POST">
  {% csrf_token %}

  <p>
    <label for="name">식당 이름 :</label>
    <input type="text" id="name" name="name">
  </p>

  <p>
    <label for="description">식당 설명 :</label>
    <textarea id="description" name="description"></textarea>
  </p>

  <p>
    <label for="address">식당 주소 :</label>
    <textarea id="address" name="address"></textarea>
  </p>

  <p>
    <label for="phone">식당 전화번호 :</label>
    <textarea id="phone" name="phone"></textarea>
  </p>

  <p>
    <button type="submit">CREATE</button>
  </p>
</form>

<p><a href="{% url 'restaurants:index' %}">[BACK]</a></p>
{% endblock %}
